<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  データ入稿</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-submit">データ入稿</h1>
      <p>下記フォームに必要事項を入力し、送信してください。<br>お客さまからいただいたご連絡先が間違っている場合や、システム障害などによりお返事できない場合がごく稀にございます。<br>万が一、資料が届かない場合は、お手数ですが、お電話またはFAXにてその旨をお問い合わせください。</p>

      <section>
       <h3 class="subtitle">データ入稿フォーム</h3>
       <p class="red h">（*）は必須項目となります。</p>
          
      <%= form_for @submit, :url => submit_confirm_path do |f| %>
        <% if @submit.errors.any? %>
         <div class="alert alert-danger" role="alert">
           <strong>入力内容にエラーがあります</strong>
           <ul>
             <% @submit.errors.each do |attr, msg| %>
               <li><%= msg %></li>
         <% end %>
           </ul>
         </div>
      <% end %> 
       

<table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <th>お名前<span class="red">*</span></th>
  <td>
    <%= f.text_field :sirname %>
    <%= f.text_field :firstname %>
  </td>
 </tr>
 <tr>
  <th>フリガナ<span class="red">*</span></th>
  <td>
    <%= f.text_field :sirname_kana %>
    <%= f.text_field :firstname_kana %>
  </td>
 </tr>
 <tr>
  <th>会社名・担当部署</th>
    <td>
    <%= f.text_field :company %>
      </td>
 </tr>
 <tr>
  <th>郵便番号<span class="red">*</span></th>
  <td>
   <%= f.text_field :postcode1 %>-<%= f.text_field :postcode2 %>
   </td>
 </tr>
 <tr>
  <th>都道府県<span class="red">*</span></th>
  <td>
    <%= f.select :prefecture, grouped_options_for_select(Prefecture::SELECT_OPTIONS),  :prompt => "選択してください" %>
  </td>
 </tr>
 <tr>
  <th>市区町村<span class="red">*</span></th>
  <td>
  <td>
   <%= f.text_field :city %>
   
  </td>
 </tr>
 <tr>
  <th>町名・番地<span class="red">*</span></th>
  <td>
   <%= f.text_field :town %>
   
  </td>
 </tr>
 <tr>
  <th>建物名</th>
  <td><%= f.text_field :building %></td>
 </tr>
 <tr>
  <th>TEL<span class="red">*</span></th>
  <td>
   <%= f.text_field :tel %>
   
  </td>
 </tr>
 <tr>
  <th>FAX</th>
  <td><%= f.text_field :fax %></td>
 </tr>
 <tr>
  <th>Eメール<span class="red">*</span></th>
  <td>
   <%= f.text_field :email %>
   
  </td>
 </tr>
 <tr>
  <th>ご希望の連絡方法<span class="red">*</span></th>
  <td>
     <%= f.check_box(:check,{:multiple=>true}, 'TEL',nil) %>
     <%= label_tag :check,'TEL' %>
     <%= f.check_box(:check,{:multiple=>true},'FAX',nil) %>
     <%= label_tag :check,'FAX' %>
     <%= f.check_box(:check,{:multiple=>true},'Email',nil) %>
     <%= label_tag :check,'Email' %>

  </td>
 </tr>
 <tr>
  <th>ファイル1<span class="red">*</span></th>
  <td>
   <input type="file" name="file1" class="txt2"><br>
   <span class="red">※アップロードするファイルのファイル名は、すべて半角英数字でお願い致します。<br>※一度にアップロードできるのは50MBまでです。（複数個の場合、その合計）</span>
　</td>
 </tr>
 <tr>
  <th>ファイル2</th>
  <td>
   <input type="file" name="file2" class="txt2">
　</td>
 </tr>
 <tr>
  <th>ファイル3</th>
  <td>
   <input type="file" name="file3" class="txt2">
　</td>
 </tr>
 <tr>
  <th>特記事項・必要事項など</th>
  <td><textarea name="message" wrap="hard"></textarea></td>
 </tr>
</table>
<div id="button-container">
  　　  <%= f.submit 'submit', class: 'confirm'  %>

</form>

      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
<% end %>
