<div class="page-header">
  <h1>お問い合わせ</h1>
</div>
 
<%= form_for @contact, :url => contact_thanks_path do |f| %>
  <table class="table">
    <tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :sirname %>
        <%= @contact.sirname %>
        <%= f.hidden_field :firstname %>
        <%= @contact.firstname %>
      </td>
    </tr>
      <th>名前</th>
      <td>
        <%= f.hidden_field :sirname_kana %>
        <%= @contact.sirname %>
        <%= f.hidden_field :firstname_kana %>
        <%= @contact.firstname %>
      </td>
    </tr>
     <tr>
      <th>会社名・担当部署</th>
      <td>
        <%= f.hidden_field :company %>
        <%= @contact.company %>
      </td>
    </tr> <tr>
      <th>郵便番号</th>
      <td>
        <%= f.hidden_field :postcode1 %>
        <%= @contact.postcode1 %>
        <%= f.hidden_field :postcode2 %>
        <%= @contact.postcode2 %>
      </td>
    </tr> <tr>
      <th>都道府県</th>
      <td>
        <%= f.hidden_field :prefecture %>
        <%= @contact.prefecture %>
      </td>
    </tr> <tr>
      <th>市区町村</th>
      <td>
        <%= f.hidden_field :city %>
        <%= @contact.city %>
      </td>
    </tr> <tr>
      <th>町名・番地</th>
      <td>
        <%= f.hidden_field :town %>
        <%= @contact.ntowname %>
      </td>
    </tr> <tr>
      <th>建物名</th>
      <td>
        <%= f.hidden_field :building %>
        <%= @contact.building %>
      </td>
    </tr> <tr>
      <th>TEL</th>
      <td>
        <%= f.hidden_field :tel %>
        <%= @contact.tel %>
      </td>
    </tr> <tr>
      <th>FAX</th>
      <td>
        <%= f.hidden_field :fax %>
        <%= @contact.fax %>
      </td>
    </tr> <tr>
      <th>Eメール</th>
      <td>
        <%= f.hidden_field :email %>
        <%= @contact.email %>
      </td>
    </tr> <tr>
      <th>ご希望の連絡方法</th>
      <td>
        <%= f.hidden_field :check %>
        <%= @contact.check %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ種別</th>
      <td>
        <%= f.hidden_field :prefecture %>
        <%= simple_format(@contact.prefecture) %>
      </td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td>
        <%= f.hidden_field :message %>
        <%= simple_format(@contact.message) %>
      </td>
    </tr>
  </table>
  <%= f.submit '送信', :class => 'btn btn-primary' %>
<% end %>