

<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;  お問い合わせ</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-contact">お問い合わせ</h1>
      <p>下記フォームに必要事項を入力し、送信してください。<br>お客さまからいただいたご連絡先が間違っている場合や、システム障害などによりお返事できない場合がごく稀にございます。<br>万が一、資料が届かない場合は、お手数ですが、お電話またはFAXにてその旨をお問い合わせください。</p>

      <section>
       <h3 class="subtitle">お問い合わせフォーム</h3>
       <p class="red h">（*）は必須項目となります。</p>
       
       <%= form_for @contact, :url => contact_confirm_path do |f| %>
        <% if @contact.errors.any? %>
         <div class="alert alert-danger" role="alert">
           <strong>入力内容にエラーがあります</strong>
           <ul>
             <% @contact.errors.each do |attr, msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
        <% end %>
       
<!--<form action="https://www.printhakase.com/contact.html" method="post" id="ContactForm"><input type="hidden" name="_mode" value="conf" />-->
<table border="0" cellpadding="0" cellspacing="0" class="form">
 <tr>
  <th>お名前<span class="red">*</span></th>
  <td>
    <%= f.text_field :sirname %>
    <%= f.text_field :firstname %>
   <!--<input name="sirname" class="txt1" type="text">-->
   <!--<input name="firstname" class="txt1" type="text">-->
   
  </td>
 </tr>
 <tr>
  <th>フリガナ<span class="red">*</span></th>

  <td>
    <%= f.text_field :sirname_kana %>
    <%= f.text_field :firstname_kana %>
   <!--<input name="sirname_kana" class="txt1" type="text"> <input name="firstname_kana" class="txt1" type="text">-->
   
  </td>
 </tr>
 <tr>

  <th>会社名・担当部署</th>
    <td>
    <%= f.text_field :company %>
      </td>
  <!--<td><input name="company" class="txt2" type="text"></td>-->
 </tr>
 <tr>
  <th>郵便番号<span class="red">*</span></th>
  <td>
   <%= f.text_field :postcode1 %>-<%= f.text_field :postcode2 %>
   <!--<input name="postcode1" class="postcode" type="text">-<input name="postcode2" class="postcode" type="text">-->
   </td>

 </tr>
 <tr>
  <th>都道府県<span class="red">*</span></th>
  <td>
 <%= f.select :prefecture, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]],  :prompt => "選択してください" %>
   
   
  </td>
 </tr>
 <tr>
  <th>市区町村<span class="red">*</span></th>
  <td>
   <!--<input name="city" class="txt2" type="text">-->
   <%= f.text_field :city %>
  </td>
 </tr>
 <tr>
  <th>町名・番地<span class="red">*</span></th>
  <td>
   <!--<input name="town" class="txt2" type="text">-->
   <%= f.text_field :town %>
  </td>
 </tr>
 <tr>
  <th>建物名</th>
  <!--<td><input name="building" class="txt2" type="text"></td>-->
  <td>
 <%= f.text_field :building %>
 </td>
 </tr>
 <tr>
  <th>TEL<span class="red">*</span></th>
  <td>
   <!--<input name="tel" class="txt1" type="text">-->
   <%= f.text_field :tel %>
  </td>
 </tr>
 <tr>
  <th>FAX</th>
  <td><%= f.text_field :fax %></td>
  <!--<input name="fax" class="txt1" type="text">-->
 </tr>
 <tr>
  <th>Eメール<span class="red">*</span></th>
  <td>
   <!--<input name="email" class="txt2" type="text">-->
   <%= f.text_field :email %>
   
  </td>
 </tr>
 <tr>
  <th>ご希望の連絡方法<span class="red">*</span></th>
  <td>
   
  <input type="checkbox" name="check[]" value="iPhone">アイフォン
  <input type="checkbox" name="check[]" value="Android">アンドロイド
  <input type="checkbox" name="check[]" value="WindowsPhone">ウィンドウズフォン
  </td>
 </tr>
 <tr>
  <th>お問い合わせ種別<span class="red">*</span></th>
  <td>
  <%= f.select :subject, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]],  :prompt => "選択してください" %>

   
　</td>
 </tr>
 <tr>
  <th>お問い合わせ内容<span class="red">*</span></th>
  <td>
  <%= f.text_area :message %>
  </td>
 </tr>
</table>
<div id="button-container">
   <%= f.submit 'submit', class: 'confirm'  %>
   <!--<input type="submit" class="confirm" value="内容確認"></div>-->

</form>

      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
<% end %>