
<!-- START MAIN -->
    <div id="main">
     <div id="breadcrumb-container">
      <div id="breadcrumb">
       <div id="breadcrumb-nav"><a href="/" title="HOME">HOME</a> &gt;お近くの博士たち</div>
      </div>
      <div id="userinfo">
       
      </div>
     </div>
     <article>
            <h1 class="title-store">お近くの博士たち</h1>

      <section>
       <h3 class="subtitle">エリア一覧</h3>
       <table border="0" cellpadding="0" cellspacing="0" class="list">
        <tr>
         <th>北海道エリア</th>
         <th>東北エリア</th>
         <th>関東エリア</th>
         <th>信越・北陸エリア</th>
         <th>東海エリア</th>
        </tr>
        <tr>
         <td rowspan="7"><%= link_to '北海道', hokkaido_path %></td>
         <td><%= link_to '青森', tohoku_path %></td>
         <td><%= link_to '東京', kanto_path %></td>
         <td><%= link_to '新潟', hokuriku_path %></td>
         <td><%= link_to '愛知', tokai_path %></td>
        </tr>
        <tr>
         <td><%= link_to '宮城', tohoku_path %></td>
         <td><%= link_to '神奈川', kanto_path %></td>
         <td><%= link_to '長野', hokuriku_path %></td>
         <td><%= link_to '岐阜', tokai_path %></td>
        </tr>
        <tr>
         <td><%= link_to '山形', tohoku_path %></td>
         <td><%= link_to '埼玉', kanto_path %></td>
         <td><%= link_to '石川', hokuriku_path %></td>
         <td><%= link_to '静岡', tokai_path %></td>
        </tr>
        <tr>
         <td rowspan="4"></td>
         <td><%= link_to '千葉', kanto_path %></td>
         <td rowspan="4"></td>
         <td rowspan="4"></td>
        </tr>
        <tr>
         <td><%= link_to '茨城', kanto_path %></td>
        </tr>
        <tr>
         <td><%= link_to '栃木', kanto_path %></td>
        </tr>
        <tr>
         <td><%= link_to '群馬', kanto_path %></td>
        </tr>

        <tr>
         <th>近畿エリア</th>
         <th>中国エリア</th>
         <th>四国エリア</th>
         <th>九州エリア</th>
        </tr>
        <tr>
         <td><%= link_to '大阪', kinki_path %></td>
         <td><%= link_to '鳥取', chugoku_path %></td>
         <td><%= link_to '香川', shikoku_path %></td>
         <td><%= link_to '福岡', kyushu_path %></td>
        </tr>
        <tr>
         <td><%= link_to '兵庫', kinki_path %></td>
         <td><%= link_to '岡山', chugoku_path %></td>
         <td><%= link_to '愛媛', shikoku_path %></td>
         <td><%= link_to '大分', kyushu_path %></td>
        </tr>
        <tr>
         <td><%= link_to '京都', kinki_path %></td>
         <td><%= link_to '広島', chugoku_path %></td>
         <td><%= link_to '徳島', shikoku_path %></td>
         <td rowspan="3"></td>
        </tr>
        <tr>
         <td><%= link_to '滋賀', kinki_path %></td>
         <td><%= link_to '山口', chugoku_path %></td>
         <td rowspan="2"></td>
        </tr>
        <tr>
         <td><%= link_to '三重', kinki_path %></td>
         <td></td>
        </tr>
       </table>
      </section>
     </article>
     <div id="pagetop"> 
      <a href="#">↑ページの先頭へ戻る</a> 
     </div>
    </div>
<!-- END MAIN -->
