<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta name="description" content="超激安印刷、名刺がなんと100枚800円から！ぷりんと博士だからできる全国翌日スピード対応。頼んだ翌日にはあなたのお手元に届きます。激安スピード印刷なら、ぷりんと博士！">
<meta name="keywords" content="プリント,印刷,フランチャイズ,独立,FC,開業">

<!--[if lt IE 9]><script src="https://www.printhakase.com/js/html5.js"></script>
<![endif]-->
    <%= stylesheet_link_tag "temp", "style" %>
    <%= javascript_include_tag "temp", "style" %>
    <%= csrf_meta_tags %>
    
<title>激安スピード印刷ならおまかせ！ぷりんと博士</title>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>

<body>
 <div>application.layout</div>

<!-- START CONTAINER -->
 <div id="container">
<!-- START WRAPPER -->
  <div id="wrapper">

<!-- START HEADER -->
   <header>
    <div id="header-container">
     <div id="logo">
       <a href="https://www.printhakase.com/">ぷりんと博士</a>
     </div>
     <div id="contact-container">
      <div id="tel">
       <%= image_tag 'button-fc.png' %> 0120-5454-22 受付時間／10：00～19：00（土・日・祝日除く）
      </div>
      <div id="contact-wrapper">
       <ul id="contact">
        <li id="contact"><a href="https://www.printhakase.com/contact.html">お問い合わせ</a></li>
        <li id="offer"><a href="https://www.printhakase.com/estimate.html">お見積り</a></li>
       </ul>
      </div>
     </div>
    </div>
   </header>
<!-- END HEADER -->

<!-- START CONTENT -->
   <div id="contents">

<!-- START LEFTSIDE -->
    <div id="leftbar">
<!-- START MENU -->
     <nav>
      <ul id="menu">
       <li id="home"><a href="/" class="home">HOME</a></li>
       
       
       <li id="submit"><a href="/submit.html" class="submit">データ入稿</a></li>
       <li id="price"><a href="/price.html" class="price">各種印刷価格表</a></li>
       <li id="printing"><span class="printing"><a href="/printing/" class="printing">各種印刷サービス</a></span>
        <ul id="submenu">
         <li><a href="/printing/smile.html">SMILE SMILE PROJECT</a></li>
         <li><a href="/printing/card.html">名刺・カード印刷</a></li>
         <li><a href="/printing/slip.html">名入れ伝票印刷</a></li>
         <li><a href="/printing/postcard.html">ハガキ印刷</a></li>
         <li><a href="/printing/envelope.html">名入れ封筒印刷</a></li>
         <li><a href="/printing/flyer.html">チラシ・フライヤー印刷</a></li>
         <li><a href="/printing/poster.html">ポスター印刷</a></li>
         <li><a href="/printing/brochure.html">会社案内印刷</a></li>
         <li><a href="/printing/uniform/">ユニフォームプリント</a></li>
         <li><a href="/printing/stamp.html">はんこ・スタンプ作成</a></li>
         <li><a href="/printing/novelty.html">ノベルティ名入れ印刷</a></li>
         <li id="bottom"><a href="/printing/telegram.html">ネット電報</a></li>
        </ul>
       </li>
       <li id="promo"><span class="promo"><a href="/promotion/" class="promo">各種販促サービス</a></span>
        <ul id="submenu">
         <li><a href="/promotion/dm.html">DM用販促グッズ</a></li>
         <li><a href="/promotion/homepage.html">ホームページ作成</a> <span class="red">NEW！</span></li>
         <li id="bottom"><a href="/promotion/mobile.html">携帯サイト・メルマガツール</a></li>
        </ul>
       </li>
       <li id="guide"><span class="guide"><a href="/guide/" class="guide">ご利用ガイド</a></span>
        <ul id="submenu">
         <li><a href="/guide/faq.html">よくあるご質問</a></li>
         <li><a href="/guide/flow.html">ご注文の手順について</a></li>
         <li><a href="/guide/dispatch.html">発送について</a></li>
         <li><a href="/guide/payment.html">お支払いについて</a></li>
         <li><a href="/guide/data.html">入稿について</a></li>
         <li><a href="/guide/inquiry.html">お問い合わせについて</a></li>
         <li id="bottom"><a href="/guide/cancel.html">キャンセル・変更について</a></li>
        </ul>
       </li>
       <li id="store"><span class="store"><a href="/store/" class="store">お近くの博士たち</a></span>
        <ul id="submenu">
         <li><a href="/store/hokkaido/">北海道エリア</a></li>
         <li><a href="/store/tohoku/">東北エリア</a></li>
         <li><a href="/store/kanto/">関東エリア</a></li>
         <li><a href="/store/hokuriku/">信越・北陸エリア</a></li>
         <li><a href="/store/tokai/">東海エリア</a></li>
         <li><a href="/store/kinki/">近畿エリア</a></li>
         <li><a href="/store/chugoku/">中国エリア</a></li>
         <li><a href="/store/shikoku/">四国エリア</a></li>
         <li id="bottom"><a href="/store/kyushu/">九州エリア</a></li>
        </ul>
       </li>
       <li id="fc"><span class="fc"><a href="/fc/" class="fc">加盟店募集</a></span>
        <ul id="submenu">
         <li><a href="/fc/station.html">ぷりんと博士ステーション</a></li>
         <li><a href="/fc/affiliation.html">博士になるには</a></li>
         <li><a href="/fc/briefing.html">事業説明会</a></li>
         <li><a href="/fc/request.html">資料請求</a></li>
         <li><a href="/fc/result.html">加盟実績</a></li>
         <li><a href="/fc/contract.html">契約内容</a></li>
         <li id="bottom"><a href="/fc/success.html">博士たちの成功談</a></li>
        </ul>
       </li>
      </ul>
     </nav>
<!-- END MENU -->
<!-- START SSL -->
     <div id="ssl">
      <table width="115" border="0" cellpadding="2" cellspacing="0" title="SSLサーバ証明書導入の証　グローバルサインのサイトシール">
       <tr>
        <td width="115" align="center" valign="top">
         <span id="ss_img_wrapper_115-57_image_ja">
          <a href="http://jp.globalsign.com/" target="_blank">
           <img alt="SSL　グローバルサインのサイトシール" border="0" id="ss_jpn2_gif" src="//seal.globalsign.com/SiteSeal/images/gs_noscript_115-57_ja.gif">
          </a>
         </span><br>
         <script type="text/javascript" src="//seal.globalsign.com/SiteSeal/gs_image_115-57_ja.js" defer="defer"></script>
         <a href="https://www.sslcerts.jp/" target="_blank" style="color:#000000; text-decoration:none; font:bold 12px 'ＭＳ ゴシック',sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;">SSLとは?</a>
        </td>
       </tr>
      </table>
      <p>ぷりんと博士サイトは、プライバシー保護の為SSL暗号化通信を導入しています。</p>
     </div>
<!-- END SSL -->
    </div>
<!-- END LEFTSIDE -->

<!-- START MAIN -->
    <div id="main">
    
     <%= yield %>
    
    </div>
<!-- END MAIN -->

   </div>
<!-- END CONTENTS -->
  </div>
<!-- END WRAPPER -->

  <div id="adj"></div>

<!-- START FOOTER -->
  <footer>
   <div id="footer-container" class="clearfix">

    <div id="footer-navi">
     <ul id="footer-navi">
      <li><a href="https://www.printhakase.com/company.html">会社案内</a><span></span></li>
      <li><a href="https://www.printhakase.com/privacypolicy.html">個人情報保護方針</a><span></span></li>
      <li><a href="https://www.printhakase.com/consume.html">特定商取法に基づく表示</a><span></span></li>
      <li><a href="https://www.printhakase.com/sitemap.html">サイトマップ</a><span></span></li>
      <li><a href="http://www.facebook.com/printhakase/" target="_blank">Facebookページ</a></li>
     </ul>
    </div>

   </div>
   <div id="copyright">
&copy; 2016 EPIC Co.,Ltd. All Rights Reserved.
   </div>
  </footer>
<!-- END FOOTER -->

 </div>
<!-- END CONTAINER -->
<script type="text/javascript">
var preHost = (("https:" == document.location.protocol) ? "https://" : "http://");
var param = "secid=sBN2516bc";
document.write(unescape("%3Cscript src='" + preHost + "sashare.com/b/sokus.js' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>

</html>